################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lib/bin
/Lib/obj
/UnitTest/bin
/UnitTest/obj
